# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Git
.git
.gitignore

# Environment
.env

# Logs
*.log

# Data files 
data/
datasets/

# Spark temp
spark-warehouse/

# OS
.DS_Store
Thumbs.db